<div class="container">
    <div class="card mt-3">
        <div class="card-header bg-info text-white">
            <h2 class="card-title m-0">Vehicle Registraton Form</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()" class="vehicle-form">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>Vehicle No</mat-label>
                            <input matInput formControlName="vehicleNo" required />
                            <mat-error *ngIf="vehicleForm.get('vehicleNo')?.hasError('required')">
                                Vehicle number is required.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('vehicleNo')?.hasError('servererror')">
                                {{vehicleForm.get('vehicleNo')?.getError('servererror')}}
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('vehicleNo')?.hasError('pattern')">
                                Format must be ABC-1234.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>Chassis No</mat-label>
                            <input matInput formControlName="chassisNo" required />
                            <mat-error *ngIf="vehicleForm.get('chassisNo')?.hasError('minlength')">
                                Must be 10+ characters.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('chassisNo')?.hasError('maxlength')">
                                Must be less than 60 characters.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('chassisNo')?.hasError('servererror')">
                                {{vehicleForm.get('chassisNo')?.getError('servererror')}}
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('chassisNo')?.hasError('required')">
                                Chassis No is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>Vehicle Type</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let type of vehicleTypes" [value]="type">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="vehicleForm.get('type')?.hasError('required')">
                                Please select a vehicle type.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('type')?.hasError('servererror')">
                                {{vehicleForm.get('type')?.getError('servererror')}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>Fuel Type</mat-label>
                            <mat-select formControlName="fuelType">
                                <mat-option *ngFor="let fuel of fuelTypes" [value]="fuel">
                                    {{ fuel }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="vehicleForm.get('fuelType')?.hasError('required')">
                                Please select a fuel type.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('fuelType')?.hasError('servererror')">
                                {{vehicleForm.get('fuelType')?.getError('servererror')}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>Owner NIC</mat-label>
                            <input matInput formControlName="ownerNic" required />
                            <mat-error *ngIf="vehicleForm.get('ownerNic')?.hasError('pattern')">
                                NIC must be 12 digits or 9 digits + V/X.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('ownerNic')?.hasError('servererror')">
                                {{vehicleForm.get('ownerNic')?.getError('servererror')}}
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('ownerNic')?.hasError('required')">
                                NIC is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput formControlName="mobile" required />
                            <mat-error *ngIf="vehicleForm.get('mobile')?.hasError('pattern')">
                                Must be 10 digits starting with 0.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('mobile')?.hasError('required')">
                                Mobile No is required.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('mobile')?.hasError('servererror')">
                                {{vehicleForm.get('mobile')?.getError('servererror')}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" required />
                            <mat-error *ngIf="vehicleForm.get('firstName')?.hasError('pattern')">
                                Only letters, spaces, apostrophes.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('firstName')?.hasError('minlength')">
                                Must be 3+ characters.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('firstName')?.hasError('maxlength')">
                                Must be less than 100 characters.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('firstName')?.hasError('required')">
                                First Name is required.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('firstName')?.hasError('servererror')">
                                {{vehicleForm.get('firstName')?.getError('servererror')}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" required />
                            <mat-error *ngIf="vehicleForm.get('lastName')?.hasError('pattern')">
                                Must be 3+ characters. Only letters, spaces, apostrophes.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('lastName')?.hasError('minlength')">
                                Must be 3+ characters.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('lastName')?.hasError('maxlength')">
                                Must be less than 100 characters.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('lastName')?.hasError('required')">
                                Last Name is required.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('lastName')?.hasError('servererror')">
                                {{vehicleForm.get('lastName')?.getError('servererror')}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" required />
                            <mat-error *ngIf="vehicleForm.get('password')?.hasError('pattern')">
                                Password is not strong enough.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('password')?.hasError('maxlength')">
                                Must be less than 20 characters.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('password')?.hasError('required')">
                                Password is required.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('password')?.hasError('servererror')">
                                {{vehicleForm.get('password')?.getError('servererror')}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput formControlName="confirmPassword" required />
                            <mat-error *ngIf="vehicleForm.get('confirmPassword')?.hasError('required')">
                                Confirm Password is required.
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.get('confirmPassword')?.hasError('servererror')">
                                {{vehicleForm.get('confirmPassword')?.getError('servererror')}}
                            </mat-error>
                            <mat-error *ngIf="vehicleForm.hasError('passwordMismatch')">
                                Confirm password doesn't match with password.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field appearance="outline" class="w-100 mb-3">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address" required></textarea>
                    <mat-error *ngIf="vehicleForm.get('address')?.hasError('minlength')">
                        Must be 5+ characters.
                    </mat-error>
                    <mat-error *ngIf="vehicleForm.get('address')?.hasError('maxlength')">
                        Must be less than 500 characters.
                    </mat-error>
                    <mat-error *ngIf="vehicleForm.get('address')?.hasError('required')">
                        Address is required.
                    </mat-error>
                    <mat-error *ngIf="vehicleForm.get('address')?.hasError('servererror')">
                        {{vehicleForm.get('address')?.getError('servererror')}}
                    </mat-error>
                </mat-form-field>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>